<div class="main" id="numfocus">
  <h1>NumFOCUS</h1>

  <%= image_tag "numfocus.png", :class => "left", :style => "padding-right: 10px; width: 200px;" %>

  <p>The Journal of Open Source Education is a <%= link_to "NumFOCUS", "https://www.numfocus.org/open-source-projects/", :target => "_blank" %>-sponsored project.</p>

</div>
