<p class="lead">
  Preparing your JOSE submission should be a simple task, once you have a complete
  software or learning module you wish to publish.
</p>

<h2>The two submission types</h2>

<p>
  JOSE accepts two types of submissions: (1) computational learning modules,
  created as open-source educational materials, and (2) open-source software,
  created as educational technology or infrastructure.
</p>

<h3 id="submission_requirements">Submission requirements</h3>

<p>
  JOSE submissions must be fully open, under the <a href="http://opendefinition.org">Open Definition</a>. 
  This means that any text content or graphical objects should be under a Creative
  Commons license (ideally CC-BY) and code components should be under an 
  <a href="https://opensource.org/licenses">OSI-approved license</a>.
</p>

<p>
  Computational learning modules should be complete and immediately usable for
  self-learning or adoption by other instructors. They should make a clear contribution
  to teaching and learning of any subject, supported by computing. JOSE is not focused
  in OER for "learning to code" as much as "coding to learn."
</p>

<p>
  Software submissions should make a clear contribution to the available open-source software
  that supports teaching and learning, or makes an educational process better (e.g., faster,
  easier, simpler). Examples include software to auto-grade student work, learning management
  systems, and student collaboration frameworks. Software should be feature-complete
  (no half-baked solutions).
</p>

<h3>What about novelty?</h3>

<p>
  Authors make the case for their submission's contribution in the paper, under the heading
  "Statement of Need." The criterion is less one of novelty, than <em>need</em>: submissions
  targeting subjects or applications already addressed by other resources <em>are eligible</em>,
  if the authors make a case for why they might be adopted by learners or other instructors.
  For example, authors could say that they approach a topic differently, that they update 
  material to modern contexts, that the need is born of a new educational program, or a 
  conference tutorial or other informal-learning scenario.
</p>

<h3>How to prepare a software submission?</h3>

<p>
  Before starting your submission, you should:
</p>

<ul>
  <li>Have the software available in an open repository (GitHub, Bitbucket etc.) under an 
    <a href="https://opensource.org/licenses">OSI-approved license</a>.</li>
  <li>Write a short Markdown file titled <code>paper.md</code> with title, author names
    and affiliations, containing a description of the software, statement of need, and 
    key references.</li>
  <li>Ideally, also create a metadata file and include it in your repository. We provide
    a <a href="https://gist.github.com/arfon/478b2ed49e11f984d6fb">script</a> that generates
    the metadata automatically.</li>
</ul>

<p>
  Once you have those items in place, <a href="http://jose.theoj.org">submit</a> via the JOSE web app.
</p>

<h3>How to prepare a learning-module submission?</h3>

<p>
  Before starting your submission, you should:
</p>

<ul>
  <li>Have the content in an open repository, under a Creative Commons license (ideally CC-BY),
    and any code components under an OSI-approved license.</li>
  <li>Write a short Markdown file titled <code>paper.md</code>  with title, author names
    and affiliations, containing a description of the module, a summary of its contents, a 
    statement of need, and key
    references.</li>
  <li>Ideally, also create a metadata file and include it in your repository. We provide
    a <a href="https://gist.github.com/arfon/478b2ed49e11f984d6fb">script</a> that generates
    the metadata automatically.</li>
</ul>

<p>
  Once you have those items in place, <a href="http://jose.theoj.org">submit</a> via the JOSE web app.
</p>
